Rae.Solutions/Web References/CloudEmailService/CloudEmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="savedToCloudEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="releaseNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="repID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="repCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestedShipDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectRevision" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="savedToCloudEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="savedToCloudEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="savedToCloudEmailSoapIn">
    <wsdl:part name="parameters" element="tns:savedToCloudEmail" />
  </wsdl:message>
  <wsdl:message name="savedToCloudEmailSoapOut">
    <wsdl:part name="parameters" element="tns:savedToCloudEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="savedToCloudEmail">
      <wsdl:input message="tns:savedToCloudEmailSoapIn" />
      <wsdl:output message="tns:savedToCloudEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="savedToCloudEmail">
      <soap:operation soapAction="http://tempuri.org/savedToCloudEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="savedToCloudEmail">
      <soap12:operation soapAction="http://tempuri.org/savedToCloudEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://service.raecloud.com/raesolutionswebservices/CloudEmail.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://service.raecloud.com/raesolutionswebservices/CloudEmail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>