Rae.Security/Web References/SDGAuthenticate/Authenticate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.rae-int.com/RAE/392423" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.rae-int.com/RAE/392423" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.rae-int.com/RAE/392423">
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProgramVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OperatingSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OperatingSystemVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="tns:AuthenticationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="isAuthenticated" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="disableAccount" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="accessLevel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="authorityGroup" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userFullName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticateSoap">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticateSoap" type="tns:AuthenticateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://www.rae-int.com/RAE/392423/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticateSoap12" type="tns:AuthenticateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://www.rae-int.com/RAE/392423/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authenticate">
    <wsdl:port name="AuthenticateSoap" binding="tns:AuthenticateSoap">
      <soap:address location="http://apps.util.rae-corp.net/TTPHELP/RAESolutionsOnline/WebServices/Authenticate.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticateSoap12" binding="tns:AuthenticateSoap12">
      <soap12:address location="http://apps.util.rae-corp.net/TTPHELP/RAESolutionsOnline/WebServices/Authenticate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>