Rae.Solutions/Web References/OrderPlacementWS/TransferFile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rae-corp.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://rae-corp.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rae-corp.com/">
      <s:element name="SendNewOrderEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNewOrderEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileBytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFileBase64">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileBase64" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFileBase64Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendFileBase64Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendNewOrderEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendNewOrderEmail" />
  </wsdl:message>
  <wsdl:message name="SendNewOrderEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendNewOrderEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendFileSoapIn">
    <wsdl:part name="parameters" element="tns:SendFile" />
  </wsdl:message>
  <wsdl:message name="SendFileSoapOut">
    <wsdl:part name="parameters" element="tns:SendFileResponse" />
  </wsdl:message>
  <wsdl:message name="SendFileBase64SoapIn">
    <wsdl:part name="parameters" element="tns:SendFileBase64" />
  </wsdl:message>
  <wsdl:message name="SendFileBase64SoapOut">
    <wsdl:part name="parameters" element="tns:SendFileBase64Response" />
  </wsdl:message>
  <wsdl:portType name="TransferFileSoap">
    <wsdl:operation name="SendNewOrderEmail">
      <wsdl:input message="tns:SendNewOrderEmailSoapIn" />
      <wsdl:output message="tns:SendNewOrderEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFile">
      <wsdl:input message="tns:SendFileSoapIn" />
      <wsdl:output message="tns:SendFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFileBase64">
      <wsdl:input message="tns:SendFileBase64SoapIn" />
      <wsdl:output message="tns:SendFileBase64SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransferFileSoap" type="tns:TransferFileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendNewOrderEmail">
      <soap:operation soapAction="http://rae-corp.com/SendNewOrderEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFile">
      <soap:operation soapAction="http://rae-corp.com/SendFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFileBase64">
      <soap:operation soapAction="http://rae-corp.com/SendFileBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransferFileSoap12" type="tns:TransferFileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendNewOrderEmail">
      <soap12:operation soapAction="http://rae-corp.com/SendNewOrderEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFile">
      <soap12:operation soapAction="http://rae-corp.com/SendFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFileBase64">
      <soap12:operation soapAction="http://rae-corp.com/SendFileBase64" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferFile">
    <wsdl:port name="TransferFileSoap" binding="tns:TransferFileSoap">
      <soap:address location="http://apps.util.rae-corp.net/ttphelp/raesolutionsonline/OrderPlacement/TransferFile.asmx" />
    </wsdl:port>
    <wsdl:port name="TransferFileSoap12" binding="tns:TransferFileSoap12">
      <soap12:address location="http://apps.util.rae-corp.net/ttphelp/raesolutionsonline/OrderPlacement/TransferFile.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>